gunicorn
dash_html_components
dash_core_components
dash
attrs
backcall
bleach
certifi
chardet
chart-studio
colorama
cycler
decorator
defusedxml
entrypoints
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
json5
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab
jupyterlab-server
kiwisolver
kmodes
MarkupSafe
matplotlib
mistune
more-itertools
nbconvert
nbformat
notebook
numexpr
numpy
pandas
pandocfilters
parso
pickleshare
plotly==4.6.0
prometheus-client
prompt-toolkit
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pywinpty
pyzmq
qtconsole
requests
retrying
scikit-learn
scipy
seaborn
Send2Trash
six
sklearn
terminado
testpath
tornado
traitlets
urllib3
wcwidth
webencodings
widgetsnbextension
xlrd
zipp
